
MaKoDateTimeConverter/.idea/.idea.MaKoDateTimeConverter/.idea/

*.dll

MaKoDateTimeConverter/MaKoDateTimeConverter/obj/

MaKoDateTimeConverter/MaKoDateTimeConverterTests/obj/

MaKoDateTimeConverter/MaKoDateTimeConverterTests/bin/Debug/net5.0/

MaKoDateTimeConverter/MaKoDateTimeConverter/bin/Debug/net5.0/

MaKoDateTimeConverter/MaKoDateTimeConverter.sln.DotSettings.user

MaKoDateTimeConverter/.idea/config/

*.cache

*.pdb

MaKoDateTimeConverter/MaKoDateTimeConverter/bin/Debug/net6.0/

MaKoDateTimeConverter/MaKoDateTimeConverterTests/bin/Debug/net6.0/

MaKoDateTimeConverter/MaKoDateTimeConverter/bin/Debug/MaKoDateTimeConverter.xml
