name: dotnet-format

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - name: Restore .NET tools
        run: dotnet tool restore
        working-directory: "MaKoDateTimeConverter"
      - name: Run CSharpier
        run: dotnet csharpier check .
        working-directory: "MaKoDateTimeConverter"
