name: Nuget Release

on:
  push:
    tags:
      - v*

jobs:
  pushrelease:
    runs-on: windows-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - uses: olegtarasov/get-tag@v2.1
        id: tagMaKoDateTimeConverter
        with:
          tagRegex: "v(\\d+\\.\\d+\\.\\d+)"
      - name: copy README.md to package folder
        run: cp README.md MaKoDateTimeConverter/MaKoDateTimeConverter/README.md
      - name: Build/Check for compile errors (dotnet build)
        working-directory: "MaKoDateTimeConverter"
        run: dotnet build --configuration Release
      - name: Run Unit Tests (dotnet test)
        working-directory: "MaKoDateTimeConverter"
        run: dotnet test --configuration Release
      - name: Create Package TimeSlice (dotnet pack)
        working-directory: "MaKoDateTimeConverter/MaKoDateTimeConverter"
        run: dotnet pack MaKoDateTimeConverter.csproj --configuration Release -p:PackageVersion="${{ steps.tagMaKoDateTimeConverter.outputs.tag }}"
      - name: Setup Nuget.exe
        uses: warrenbuckley/Setup-Nuget@v1
      - name: Nuget push MaKoDateTimeConverter
        working-directory: "MaKoDateTimeConverter/MaKoDateTimeConverter"
        run: |
          nuget setApiKey ${{ secrets.NUGET_ORG_PUSH_TOKEN }}
          nuget push .\bin\Release\*.nupkg -Source https://api.nuget.org/v3/index.json -SkipDuplicate -NoSymbols
